.SummarySection {
  width: 100vw;
  height: 350px;
  background-color: #F0F1F3;
  padding: 10px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.01px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #9B9FAA;
}

.Summary {
  width: 280px;
  height: 20px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: 700;
  line-height: 17.01px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #212121;
}

.valuesSection{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  max-width: 300px;
}