.MenuSection {
  width: 100vw;
  height: 700px;
  background-color: #264061;
  position: absolute;
  top: 70px;  
}

.MenuNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  width: 300px;
  height: 200px;
}

.MenuLink{
  font-family: Verdana;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.88px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #9B9FAA;
  text-decoration: none;
}

.MenuLink:focus,
.MenuLink:hover {
  color: #ffff;
} 